#popup-component {

    padding: 90px 0 0 0;

    #contador-kilometros {
        div {
            margin: 0;
            padding: 0;
            display: block;
            font-size: 18px;
            font-family: "Sequel Light";
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            line-height: 1.68;
            text-align: center;

            span {
                color: #28532e;
                font-size: 42px;
                line-height: 42px;
                height: 42px;
                display: block;
            }
        }
        div.separador {
            width: 100%;
            margin: 10px 0;
            display: block;
            text-align: center;
            line-height: 10px;
            span {
                display: inline-block;
                width: 126px;
                height: 1px;
                line-height: 1px;
                background-color: #599939;
            }
        }
    }


    #ver-propositos {
        display: block;
        margin-top : 30px;
        text-align: center;
        a {
            display: inline-block;
            width: 130px;
            border-radius: 13px;
            border: 1px solid #145737;
            font-size: 16px;
            font-family: "Sequel Light";
            color: #FFFFFF;
            line-height: 25px;
            text-decoration: none;

            opacity: 0.25;
            pointer-events: none;
            &.active {
                opacity: 1;
                pointer-events: auto;
            }
            &:hover {
                border: 1px solid #FFFFFF;
                background-color: #FFFFFF;
                color: #145737;
            }
        }
    }

}
