
<div class="component-block" id="popup-component">

    <div id="contador-kilometros">
        <div><strong>Distancia semanal recorrida: <span id="scroll-week-down-done">0.000<span class="kms-label">km</span></span></strong></div>
        <div class="separador">
            <span></span>
        </div>
        <div><strong>Distancia total recorrida: <span id="scroll-down-done">0.000<span class="kms-label">km</span></span></strong></div>
    </div>

    <div id="ver-propositos" routerLinkActive="active">

        <a routerLink="/propositos" id="ver-propositos-button" >Ver Propósitos</a>

    </div>

</div>
