body {
    background: url('../assets/img/bg-component.jpg') scroll no-repeat center center;
    background-size: contain;
    width: 300px;
    height: 494px;
    text-align: center;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    &.prehito {
        background-position: 50% 460px;
    }
    &hito {
        transition: all 1s linear;
        background-position: 50% 330px;
    }

    .loader {
        background: url('../assets/img/bg-intro.jpg') scroll no-repeat center center;
        background-size: contain;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 999;
    }
    .empty-loader {
        background: #A9C240;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 9999;
    }

}
