/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Sequel NeueItalic';
    src: url('assets/fonts/Sequel-NeueItalic.eot');
    src: url('assets/fonts/Sequel-NeueItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Sequel-NeueItalic.woff2') format('woff2'),
        url('assets/fonts/Sequel-NeueItalic.woff') format('woff'),
        url('assets/fonts/Sequel-NeueItalic.ttf') format('truetype'),
        url('assets/fonts/Sequel-NeueItalic.svg#Sequel-NeueItalic') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sequel Light';
    src: url('assets/fonts/Sequel-Light.eot');
    src: url('assets/fonts/Sequel-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Sequel-Light.woff2') format('woff2'),
        url('assets/fonts/Sequel-Light.woff') format('woff'),
        url('assets/fonts/Sequel-Light.ttf') format('truetype'),
        url('assets/fonts/Sequel-Light.svg#Sequel-Light.') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sequel Neue';
    src: url('assets/fonts/Sequel-Neue.eot');
    src: url('assets/fonts/Sequel-Neue.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Sequel-Neue.woff2') format('woff2'),
        url('assets/fonts/Sequel-Neue.woff') format('woff'),
        url('assets/fonts/Sequel-Neue.ttf') format('truetype'),
        url('assets/fonts/Sequel-Neue.svg#Sequel-Neue') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Sequel LightItalic';
    src: url('assets/fonts/Sequel-LightItalic.eot');
    src: url('assets/fonts/Sequel-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Sequel-LightItalic.woff2') format('woff2'),
        url('assets/fonts/Sequel-LightItalic.woff') format('woff'),
        url('assets/fonts/Sequel-LightItalic.ttf') format('truetype'),
        url('assets/fonts/Sequel-LightItalic.svg#Sequel-LightItalic') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?kg1nnb');
  src:  url('assets/fonts/icomoon.eot?kg1nnb#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?kg1nnb') format('truetype'),
    url('assets/fonts/icomoon.woff?kg1nnb') format('woff'),
    url('assets/fonts/icomoon.svg?kg1nnb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Facebook:before {
  content: "\e900";
}
.icon-Flecha-De:before {
  content: "\e901";
}
.icon-Flecha-Izq:before {
  content: "\e902";
}
.icon-Home:before {
  content: "\e903";
}
.icon-Medallas:before {
  content: "\e904";
}
.icon-Preferencias:before {
  content: "\e905";
}
.icon-Propositos:before {
  content: "\e906";
}
.icon-Twitter:before {
  content: "\e907";
}

body {

  background: url('./assets/img/bg-component.jpg') scroll no-repeat center center;
  background-size: contain;
}


span.kms-label {
    font-style: normal;
    font-size: 30px;
    margin-left: 2px;
}


.slick-prev,.slick-next {
    z-index: 99;
    width: 16px !important;
    height: 22px !important;
    top: 0px!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    &.slick-disabled {
        opacity: 0.25!important;
    }
}

.slick-prev:before, .slick-next:before {
  content: " "!important;
  width: 16px!important;
  height: 27px!important;
  background: none no-repeat scroll center center!important;
  background-size: contain!important;
  position: absolute;
    left: 0;
    top: 0;

}

.slick-prev {
  background-image: url('assets/img/slick-anterior.png')!important;
  left: 50%!important;
  transform: translate(-75px, -22px)!important;
}

.slick-next {
  background-image: url('assets/img/slick-siguiente.png')!important;
  left: 50%!important;
  transform: translate(70px, -22px)!important;
}

.component-block {
  height: 434px;
  top: 0px;
  position: absolute;
  width: 300px;
  left: 0px;
  box-sizing: border-box;
  padding: 50px 0px 0px;
}
